[Desktop Entry]
Name=GNU Octave
Comment=Interactive programming environment for numerical computations
TryExec=/usr/bin/octave
Exec=/usr/bin/octave %f
Icon=octave
Terminal=true
Type=Application
Categories=Education;Science;Math;
StartupNotify=false
StartupWMClass=GNU Octave
MimeType=text/x-octave;text/x-matlab;
Keywords=science;math;matrix;numerical computation;plotting;
